// Color
// ==========================================================================

.color-primary 			{ color: $primary-color; }

.color-light 			{ color: $light-color; }
.color-dark 			{ color: $dark-color; }


// Bg Color
// ==========================================================================

.bg-light 				{ background-color: $light-color; }
.bg-gray 				{ background-color: $gray-color; }