// Color
// ==========================================================================

.color-primary 			{ color: $primary-color; }
.color-text 			{ color: $text-color; }

.color-light 			{ color: $light-color; }
.color-dark 			{ color: $dark-color; }

.color-primary-dark_hover:hover {color: $primary-color-dark; }

// Bg Color
// ==========================================================================

.bg-light 				{ background-color: $light-color; }
.bg-gray 				{ background-color: $gray-color; }
.bg-gray-dark 			{ background-color: $gray-color-dark; }