footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 30px 0;
	font-size: 14px;
	background-color: #555555;
	color: $light-color;
	clear: both;
	@media #{$medium-and-down} { font-size: 12px; }
	.row {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid $light-color;
		.title-nav-footer {
			margin-bottom: 5px;
			color: $primary-color;
			font-weight: 700;
			text-transform: uppercase;
		}
		@media #{$small-and-down} { .col:not(:first-child) .title-nav-footer { margin-top: 20px; } }
		ul {
			margin: 0px;
			li {
				list-style-type: none;
				a, .customLink  {
					color: $light-color;
					cursor: pointer;
					@extend .transition;
					&:hover, &.active { color: $primary-color-light; }
				}
			}
		}
		.icons-redes {
			margin-left: -10px;
			margin-bottom: 10px;
			a {
				margin-right: 5px;
				color: $light-color;
				@extend .transition;
				&:hover { color: $primary-color-light; }
				em {
					font-size: 20px;
					&.icon-youtube { font-size: 22px; }
					&.icon-whatsapp { font-size: 23px; }
				}
			}
		}
		a {
			color: $light-color;
			.icon-phone-circled, .icon-mail-alt { 
				display: inline-block;
				margin-right: 5px;
				font-size: 16px; 
				vertical-align: middle;
			}
			@extend .transition;
			&:hover { color: $primary-color-light; }
		}
	}
	.icons-pago {
		font-size: 26px;
		margin: 0 5px;
	}
}