// Forms
// ==========================================================================
input,
select,
textarea { font-family: $font-default; }

input:not([type="submit"]),
select,
textarea {
	margin-bottom: 10px;
	width: 100%!important;	
	max-width: 100%;
	text-align: center;
	line-height: 30px!important;
	height: 30px;
	background-color: $light-color;
	border-radius: 2px!important;
	border: 1px solid $primary-color;
	outline: none!important;
}
input:not([type="submit"]):not([type="number"]),
select,
textarea {
	padding: 0 10px;
}
input[type="checkbox"] {
	width: auto!important;
}
textarea {
	height: 100px;
	line-height: 22px;
	resize: none;
}
/* input[type="submit"] {
    display: block;
} */

//Hide button input date
/* ::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
} */

/* Validación Parsley */
.parsley-errors-list {
	padding: 0px!important;
	font-size: 12px;
	li { 
		color: $danger-color; 
		list-style-type: none!important;
	}
}

#contact-form {
	max-width: 400px;
    margin: auto;
}

//buscador productos
.aws-search-field{
	border: 0px!important;
    border-bottom: 1px solid #000!important;
    height: 30px!important;
}
//chat
/* #tidio-chat {
	position: relative;
	z-index: 0;
} */

/* Mailchimp */
#mc_embed_signup {
	background: transparent!important;
	margin: auto!important;
	max-width: 100%;
	form {
		padding: 0px!important;
		input[type="email"]{
			border: 0px!important;
			@extend .shadow; 
		}
		input[type="submit"]{ width: 100%!important; }
	}
}