// Default styles
// ==========================================================================

html {
  box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //height: 100%;
  body { margin: 0px; }
}
*, *:before, *:after {
 box-sizing: inherit;
}

.main-body {
  position: relative;
  min-height: calc(100vh - 84px);
}

section {
	margin: 0;
  & + section { margin-top: 50px; }
}

ul {
    padding: 0px;
    li {        
        margin: 0px; 
        line-height: 20px;
        list-style-type: none;
    }
}

.clearfix { clear: both; }

.hr, hr {
    width: 100%;
    height: 1px;
    border: 0px;
    background-color: $light-color;
}


// Styles scrollbar
// ==========================================================================
::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background-color: rgba(0,0,0,0.6);
} 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: rgba(0,0,0,0.8);
}
/* ::-webkit-scrollbar-button {
      background-color: black;
}
::-webkit-scrollbar-corner {
      background-color: black;
} */