header.js-header {
	text-transform: uppercase;
	@extend .shadow;
	nav {
		position: relative;
		height: 80px;
		z-index: 999;
		@media #{$sm-and-down} { height: 50px; }
		& > a > img { 
			width: 77px; 
			@media #{$sm-and-down}{ width: 50px; }
		}
		#btn-open-nav {
			position: absolute;
			right: 0px;
			top: 5px;
			font-size: 26px;
			cursor: pointer;
			&:hover { color: $primary-color; }
		}
		& > ul {
			float: right;
			display: inline-block;
			max-width: calc(100% - 100px);
			margin-top: 25px;
			margin-bottom: 25px;
			@extend .transition;
			&.open { right: 0px; }
			#btn-close-nav {
				position: absolute;
				top: 3px;
				right: 20px;
				font-size: 22px;
				cursor: pointer;
				&:hover { color: $primary-color; }
			}
			@media #{$medium-and-up} {
				& > li:nth-child(2) a { padding-left: 0px!important; }
				& > li:nth-child(7) a { padding-right: 0px!important; }				
			}
			li {
				display: inline-block;
				a, .customLink {
					display: inline-block;
					padding: 0 9px;
					font-size: 14px;
					line-height: 30px;
					color: $text-color;
					cursor: pointer;
					@extend .transition;
					&:hover, &.active { color: $primary-color-dark; }
					@media #{$medium-only}{ font-size: 12px; }
				}
				ul {
					margin: 0px;
					background-color: $light-color;
					@media #{$medium-and-up} {
						position: absolute;
						display: none;
						li a { padding: 0 20px!important; }
					}
					li { 
						display: block; 
						a {
							display: block;
							padding: 0 20px 0 30px;
							&:hover {
								color: $light-color;
								background-color: $primary-color;
							}
						}
						//li:nth-child(1) a { padding-left: 0px; }
						//li::last-child a { padding-right: 0px; }						
					}
				}
				&:hover {
					ul { display: block; }
				}

			}
			.icons-nav {
				display: inline-block;
				float: right;
				a, .customLink {
					display: inline-block;
					margin-right: 5px;
					color: $text-color;
					line-height: 30px;
					cursor: pointer;
					@extend .transition;
					&:hover { color: $primary-color-dark; }
					em { 
						font-size: 20px; 
						&.icon-basket, &.icon-user { font-size: 22px; }
						&.icon-youtube { font-size: 23px; }
						&.icon-basket {
							position: relative;
							span {
								position: absolute;
    							right: -9px;
    							top: 12px;
								width: 20px;
								text-align: center;
								line-height: 20px;
								font-size: 12px;
								background-color: $light-color;
								border-radius: 50%;
    							z-index: -1;
								@extend .shadowDoble;
							}
						}
						&.icon-user {
							position: relative;
							span {
								position: absolute;
    							right: -9px;
    							top: 12px;
								width: 20px;
								text-align: center;
								line-height: 20px;
								font-size: 12px;
								background-color: $light-color;
								border-radius: 50%;
    							z-index: -1;
								@extend .shadowDoble;
							}
						}
					}
					&#linkSearchProduct.active { color: $primary-color; }
				}	
			} 
			.searchProduct {
				@media #{$medium-and-up}{
					position: absolute;
					right: 0px;
					top: -100px;
					min-width: 280px;
					padding: 5px;
					background-color: #fff;
					border-radius: 0 0 3px 3px;
					@include shadow;
					&.active {
						top: 80px;
					}
					form { height: 30px; }
				}
				@media #{$sm-and-down} {
					padding: 10px 20px;
				}
			}
			@media #{$medium-only} {
				margin-top: 40px;
				margin-bottom: 10px;
				.icons-nav {
					position: absolute;
					top: 5px;
					right: 0px;
				}
			}
			@media #{$sm-and-down}{
				position: fixed;
				right: -300px;
				margin: 0px;
				padding-top: 40px;
				width: 270px;
				max-width: 100%;
				height: 100vh;
				background-color: $light-color;
				@include shadow-left;
				li {
					display: block;
					a, .customLink {
						display: block;
						line-height: 40px;
						padding: 0 20px;
						&:hover {
							color: $light-color;
							background-color: $primary-color;
						}						
					}
				}
				.icons-nav {
					float: none;
					margin-top: 20px;
					padding: 0 10px;
					#linkSearchProduct { display: none; }
				}
			}
		}		
	}

}