// Image
// ==========================================================================

.responsive-img,
img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.centerfull-image {
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;
	margin: auto;
}


// Bg Image
// ==========================================================================
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.bg-contain { background-size: contain; }
  &.bg-repeat { background-repeat: repeat; }
}

.bg-responsive {
	max-width: 100%;
}

.bg-absolute { 
	position: absolute;
	top: 0; bottom: 0; 
	left: 0; right: 0;
}

.bg-category {
	position: relative;
	height: 300px;
}
.bg-subcategory {
	position: relative;
	height: 200px;
	h3 {
		position: absolute;
		bottom: 0px;
		width: 100%;
		padding: 0 10px;
		line-height: 35px;
		text-align: center;
		text-transform: uppercase;
		background-color: rgba(255,255,255,0.6);
	}
}


#sliderHome {
	.cycle-slideshow {
		img {
			width: 100%;
		}
		.cycle-pager {
			position: absolute;
		    width: 100%;
		    bottom: -15px;
		    z-index: 199;
			span {
				font-size: 60px;
				line-height: 40px;
				margin: 0 5px;
				color: $primary-color-light;
				cursor: pointer;
				&.cycle-pager-active {
					color: $primary-color-dark;
				}
			}
		}		
	}
}

/* POST */
#contentBlog {
	.bg-image {
		height: 300px;
	}
	.postComplete .bg-image {
		height: 250px;
	}
	.col .col:not(.postComplete):nth-child(2n){ clear: both; }
}

#singlePost #contentPost img {
	margin-top: 10px;
  	margin-bottom: 20px;
}