// Modal
// ==========================================================================

.modal {
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1200;
	transition: .5s ease-out;
	background-color: rgba(174, 174, 174, 0.6);
	.modal-content {
		position: relative;
		width: 80vw;
		max-width: 600px;
		margin: 10vh auto 0;
		border-radius: 10px;
		background-color: $light-color;
		overflow: hidden;	
		.close-modal {
			position: absolute;
			right: 15px;
			top: 10px;
			font-size: 20px;
			line-height: 40px;
			z-index: 2;
			cursor: pointer;
		}
		.modal-body {
			padding: 30px;
    		border-radius: 20px;
			max-height: 80vh;
			overflow-y: auto;
		    overflow-x: hidden;
		}
		@media #{$sm-and-down} {
			margin: 0px;
			width: 100vw;
			.modal-body { min-height: 100vh; }
		}
	}
}