// ==========================================================================
// Woccommerce
// ==========================================================================

/* Paginación */
.woocommerce-pagination ul {
	margin-top: 0px;
	font-size: 20px;
	text-align: center;
	li {
		display: inline-block;
		a, span {
			display: inline-block;
			margin: 0 10px;
			cursor: pointer;
			&:hover, &.current { color: $primary-color; }
			&.current { font-weight: 700; }
		}
	}
}

/* Breadcrumbs */
.woocommerce-breadcrumb {
	margin-bottom: 50px;
}

/* Filtro productos */
.woocommerce-ordering {
	float: right;
    height: 30px;
    max-width: 200px;
    select {
		height: 30px;
		margin: 0px;
    	@extend .shadow-left;
    }
}
/* GLOBAL */
/* Sale */
li.product .onsale,
.product-image .onsale {
	position: absolute;
	top: 4px;
	right: 20px;
	height: 26px;
	min-height: 30px!important;
	padding: 0 8px!important;
	color: $primary-color!important;
	background-color: transparent!important;
	text-transform: uppercase;
	line-height: 26px!important;
	font-weight: 600;
	border-radius: 5px!important;
	border: 2px solid $primary-color;
	z-index: 101;
}
/* Rating */ 
.content_stars {
	display: inline-block;
	margin-left: -4px;
	em { 
		color: #c6c6c6;
		margin-right: -8px;
	}
	&.activeToStar1 {
		.star1 { color: #f6bd15; }
	}
	&.activeToStar2 {
		.star1, .star2 { color: #f6bd15; }
	}
	&.activeToStar3 {
		.star1, .star2, .star3 { color: #f6bd15; }
	}
	&.activeToStar4 {
		.star1, .star2, .star3, .star4 { color: #f6bd15; }
	}
	&.activeToStar5 {
		.star1, .star2, .star3, .star4, .star5 { color: #f6bd15; }
	}
}
.price ins { text-decoration: none; }
/* Comments */
ol {
	padding: 0px;
	li.review {
		margin-bottom: 10px;
		list-style-type: none;
		.comment-text {
			.content_stars { 
				margin-right: 10px; 
				margin-bottom: -5px;
				vertical-align: middle;
			}
			.meta { 
				display: inline-block; 
				vertical-align: middle;
				font-size: 12px;
			}
		}
	}				
}

/* Productos */
.main-body ul.products[class*=columns-] {
	/* Corregir limites container */
	display: inline-block;
	width: calc(100% + 20px);
	margin-left: -10px;
	margin-bottom: 0px;
	li.product {
		float: left!important;
		width: 25%!important;
		margin: 0px!important;
		padding: 0 10px 25px!important; 
		text-align: center;
		clear: none!important;
		@media #{$large-and-up} {
			&:nth-child(4n+1) { clear: both!important; }
		}
		@media #{$medium-and-down} 		{ 
			width: 33.33%!important;
			&:nth-child(5n+1) { clear: none!important; }
			&:nth-child(3n+1) { clear: both!important; }
		}
		@media #{$sm-and-down} 		{ 
			width: 50%!important;
			&:nth-child(5n+1), &:nth-child(3n+1) { clear: none!important; }
			&:nth-child(2n+1) { clear: both!important; }
		}
		@media #{$small-and-down} 	{ 
			width: 100%!important;
		}
		.woocommerce-loop-product__link {
			position: relative;
			display: block;
			img { 
				width: 200px;
				margin-left: auto;
				margin-right: auto;
				@extend .responsive-img; 
			}
			h2 {
				//min-height: 40px;
				text-transform: lowercase;
				font-size: 14px!important;
				font-weight: 300!important;
				padding: 0px;
				margin-bottom: 3px;
				&::first-letter { text-transform: uppercase; }
			}
			h2,
			.price {
				display: block;
				color: $dark-color!important;
				font-size: 16px;
				font-weight: 600;
			}
			.woocommerce-product-rating {
				margin-top: -2px;
				margin-bottom: 0px;
				em:last-child { display: none; }
			}
			.price { margin-bottom: 5px; }
		}
		.button {
			margin: 0px!important;
		}
		.added_to_cart {
			display: block;
		    max-width: 140px;
		    margin: 5px auto 0;
		}
	}
}

/* Productos destacados */
.main-body #section-productos_destacados ul.products[class*=columns-] li.product {
	@media #{$sm-only}{ &:nth-child(5){ margin-left: 25%!important; } }
	@media #{$medium-only}{ 
		&:nth-child(4n+1){ clear: none!important; }
		&:nth-child(4){ margin-left: 16.6%!important; } 
	}
	@media #{$large-and-up}{ 
		width: 20%!important;
		&:nth-child(4n+1){ clear: none!important; }
	}
}

#single-product {
	.product-image {
		margin-bottom: 30px;
		/* Gallery */
		.cycle-slideshow .bg-image,
		.cycle-slideshow .bg-product {
		    width: 100%;
		    height: 400px;
			img {
				display: block;
				margin: auto;
				max-height: 400px;
			}
		}
		#prevGallery, #nextGallery {
			position: absolute;
			top: 40%;
			color: $primary-color-light;
			cursor: pointer;
			z-index: 100;
			em { font-size: 30px; }
			&:hover {
				color: $primary-color-dark;
			}
		}
		#nextGallery { right: 10px; }		
	}

	/* Info product */
	.summary {
		margin-bottom: 30px;
		.product_meta, .stock {  font-size: 14px; }
		.sku_wrapper { display: block; }
		.price {
			margin-bottom: 20px;
			font-size: 18px;
			font-weight: 700;
			del { 
				color: #7d7d7d;
				margin-right: 10px;
			}
		}
		.woocommerce-product-details__short-description { margin-bottom: 20px; }
		.woo_discount_rules_table { 
			margin: 15px 0 20px -3px; 
			font-size: 14px;
		}
		form {
			table.variations {
				margin-bottom: 20px;
				tr {
					td {
						label { margin-right: 5px; }
						select { 
							width: 145px!important;
							margin-bottom: 0px;
						}
						.reset_variations {
							margin-left: 5px;
							font-size: 12px;
							font-weight: bold;
							color: $primary-color;
						}
					}
				}
			}
			.woocommerce-variation-add-to-cart {
				width: 170px;
				margin-bottom: 20px;
				input.qty {
					margin-bottom: -2px;
					text-align: center;
					font-size: 18px;
					border: 1px solid $primary-color;
					border-radius: 2px 0 0 2px;
				}
				button { width: 100%; }
			}			
		}
		.product_meta a { color: $primary-color-dark; }
	}

	.info_personaliza {
		background-color: #f4f4f4;
		padding: 10px 15px;
		border-radius: 3px;
		cursor: pointer;
	}
	.content_personaliza {
		@media #{$sm-only} { .col:nth-child(2n+1) { clear: both; } }
	}

	/* Reviews */
	.tabs.wc-tabs { display: none; }
	#reviews {
		margin-bottom: 30px;
		@extend .row-complete;
		#comments {
			height: 450px;
			overflow: auto;
			padding-top: 10px;
			@extend .shadow-left;
			@media #{$sm-and-down} {
				height: inherit;
				max-height: 300px;
				margin-bottom: 30px;
			}
			& > h2 span { color: $primary-color; }
		}
		#review_form_wrapper #review_form {
			margin-bottom: 30px;
			padding: 30px;
			text-align: center;
			background-color: $gray-color;
			border-radius: 5px;
			#reply-title { 
				display: block;
				font-size: 22px;
				text-align: center;
			}
			label { 
				display: inline-block;
				margin-bottom: 10px; 
			}
			.comment-form-rating {
				margin-bottom: 20px;
				a {
				    display: inline-block;
				    width: 25px;
				    margin-right: 10px;
				    line-height: 25px;
				    text-align: center;
				    color: $light-color;
					background-color: $primary-color-light;
				    border-radius: 50%;
				    &:hover, &.active {
				    	background-color: $yellow-color;
				    }
				}
			}
			.form-submit #submit { width: 100%; }
		}		
	}
	.related.products {
		margin-bottom: 45px;
		h2 { text-align: center; }
		@media #{$medium-only}{ ul li:nth-child(4n){ display: none; } }
	}	
}

/* Tienda */
.vyarte_tienda #primary { margin-bottom: 70px; }
.woocommerce-result-count { margin-bottom: 10px; }
.woocommerce-loop-product__title { min-height: 38px; }

/* Carrito */
.woocommerce {
	table.cart img { width: 65px!important; }
	table.cart td.actions .input-text { 
		width: 130px!important;
		@extend .shadowDoble;
	}
	.quantity .qty { 
		width: 100px!important; 
		@extend .shadowDoble;
	}
	a.checkout-button { width: 100%!important; }	
} 

.cart-empty { margin-bottom: 20px; }
.cart-empty, .return-to-shop {
	text-align: center;
}

/* CUENTA */
.vyarte_cuenta h2 { text-align: center; }
.woocommerce-form-login {
	max-width: 300px;
    margin: 20px auto 0!important;
    button { width: 100%; }
}
.woocommerce-MyAccount-navigation ul {
	text-align: center;
	border-radius: 3px;
	@extend .bg-gray;
	li {
		display: inline-block;
		a {
			display: inline-block;
			padding: 0 10px;
			line-height: 30px;
			&:hover {
				color: $primary-color;
			}
		}
		&:not(:last-child) { margin-right: 5px; }
		&.is-active a { color: $primary-color; }

		@media #{$small-and-down}{ 
			display: block;
			margin: 0px;
			a { width: 100%; }
		}
		&:last-child {
			a { color: $danger-color; }
		}
		&.woocommerce-MyAccount-navigation-link--downloads {
			display: none;
		}
	}	
} 
.woocommerce-EditAccountForm {
	max-width: 500px;
	margin: auto;
}

.woocommerce-Addresses {
	margin-top: 20px;
	header {
		text-align: center;
		h3 { margin-bottom: 10px; }
		a.edit {
			margin-bottom: 20px;
			@extend .btn;
		}
	}
}

/* Orden */
.woocommerce-orders-table__cell-order-actions {
	a { margin: 5px 5px 5px!important; }
}

.woocommerce iframe { width: 100%; }

/* Personalización */

.page_personaliza {
	@media #{$sm-only} { .col:nth-child(2n+1) { clear: both; } }
	@media #{$medium-and-up} { .col:nth-child(3n+1) { clear: both; } }
}
.block_persOrder {
    position: absolute;
    top: 0px;
    display: block;
    width: 100%;
    height: 65px;    
    z-index: 99;
    background-color: rgba(255,255,255,0.65);
}